.btn {
    display: inline-block;
    text-decoration: none;
    color: $dark-blueGreen;
    border: 2px solid $electricGreen;
    border-radius: 4px;
    padding: 12px 20px;
    line-height: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.0);

    &:hover,
    &:active {
        color: $dark-blueGreen;
        background-color: $electricGreen;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    }

    &--white {
        color: $white;
        border-color: $white;

        &:hover,
        &:active {
            color: $dark-blueGreen;
            background-color: $white;
        }
    }
}