@import "functions";

// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------

$dark-blueGreen: #005566;
$blueGreen: #028090;
$midGreen: #00ab96;
$darkGreen: #02c394;
$electricGreen: #59ffd4;

$darkBlue: rgba(39,47,52,1.0);
$darkBlue-1: shade($darkBlue, 60%);
$darkBlue-2: shade($darkBlue, 50%);
$darkBlue-3: shade($darkBlue, 40%);
$darkBlue-4: shade($darkBlue, 30%);
$darkBlue-5: shade($darkBlue, 20%);
$darkBlue-6: shade($darkBlue, 10%);
$darkBlue-7: tint($darkBlue, 10%);
$darkBlue-8: tint($darkBlue, 20%);
$darkBlue-9: tint($darkBlue, 30%);
$darkBlue-10: tint($darkBlue, 40%);
$darkBlue-11: tint($darkBlue, 50%);
$darkBlue-12: tint($darkBlue, 60%);

$darkGray: shade($darkBlue, 50%);

$white: rgba(255,255,255,1.0);
$black: rgba(0,0,0,1.0);


// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$sans-serif-font: "Geomanist", Helvetica, sans-serif;
$serif-font: 'Merriweather', serif;
$source-code-font: Menlo, Monaco, monospace;

// ----------------------------------------------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------------------------------------------
$linkColor: lighten($darkBlue,40%);
$linkColorDark: darken($linkColor, 10%);
$linkColorLight: lighten($linkColor, 10%);
$hoverColor: $darkBlue;